<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :id=>"email_field", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, :id=>"password_field", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :dob, 'Date of Birth' %><br />
    <%= f.date_field :dob, autofocus: true %>
  </div>
  <div class="hidden-field">
    <%= f.hidden_field :key, :value => @key %>
  </div>


  <div class="actions" id="submit">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
<script>
$(document).ready(function(e) {
$("#submit").click(function() {

var password = $("#password_field").val();
var email =  $("#email_field").val();
var dataNum = "faucet=1&password=" + email;
console.log(password + " " + email)

$.ajax({
        type: "POST",
        // datatype : "text",
        // contentType: "text/javascript",
        url: "http://localhost:8000/users/" + email,
        // data: {"faucet": "1", "password": password},
        data:  JSON.stringify(
            {
             password: password,
             faucet: 1,
             }),
        // datatype : "json",
        // contentType: "json",
        success: function(response) {
          if (response.success) {
            console.log('Success!');
            console.log(response);
          } else {
              console.log('Failure!');
              console.log(response);
          }
        },
        error: function(xhr, status, text) {
          var response = $.parseJSON(xhr.responseText);

          if (response) {
              console.log(response.error);
          } else {
              // This would mean an invalid response from the server - maybe the site went down or whatever...
              console.log("server failure")
          }
        }
      })
        .done( function( response ) {

          // alert("your password is: "+ hex[(Math.round(Math.random(hex.length)))]);
        });
});
});
// var hex = ["4f65609601e41ad33707297fe2af00f02da30e21", "c8d2b061dccfed8d2185bb3b499b6539f922a05f", "e3875de6c3929c1092b8ac8120acf7f52074f926", "d69379a568034b32b3541acc9f99c85fece25566", "e3875de6c3929c1092b8ac8120acf7f52074f926", "182e840176bc2f167e0142026fd21572c6cb7b3e", "db02bf12e08e50ad13b834e36cda34640ec24703"];
</script>


<%= render "devise/shared/links" %>
